<div fxLayout="column" fxLayoutAlign="start stretch" style="width: 100%; height: 100%; border: 1px solid red; box-sizing: border-box;">
  <section  fxLayout="column" fxLayoutAlign="start stretch" class="flex-section a full-height">
    <header class="flex-title">title 1</header>
    <div  class="flex-content">Toto<br>Toto<br>TotoToto<br>Toto<br>TotoToto<br>Toto<br>TotoToto<br>Toto<br>Toto</div>
    <section  fxLayout="column" fxLayoutAlign="start stretch" class="flex-section b full-height">
      <header class="flex-title">title 1</header>
      <div  class="flex-content">Toto<br>Toto<br>TotoToto<br>Toto<br>TotoToto<br>Toto<br>TotoToto<br>Toto<br>Toto</div>
      <section   fxLayout="column" fxLayoutAlign="start stretch" class="flex-section c full-height">
        <header class="flex-title">title 1</header>
        <div class="flex-content">Toto<br>Toto<br>TotoToto<br>Toto<br>TotoToto<br>Toto<br>Toto</div>
      </section>      
    </section>
  </section>
</div>